* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header .logo {
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

header .search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    border-bottom: 2px solid cadetblue;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media (max-width: 1000px) {
    .search-box button {
        position: absolute;
    }
    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px; 
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"],
input[type="time"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Pie de pagina */
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
    margin-top: auto;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
